---
import SkillsTabs from "./SkillsTabs";
---

<section class="py-20">
  <h2 class="text-4xl font-bold mb-8 text-center">Mis Habilidades</h2>

  <div class="max-w-5xl mx-auto">
    <SkillsTabs client:load />
  </div>
</section>