---
import Header from '../components/Header.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="dark overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio - Ijosueeh</title>
	</head>
	<body class="antialiased">
		<div class="relative h-full w-full">
			<div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] z-[-1]"></div>
			<div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] z-[-1]"></div>
		</div>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html,
	body {
		/* Eliminamos el centrado para que el header pueda ocupar todo el ancho */
	}
</style>
